.page .home {
    font-family: 'Roboto', sans-serif;

    .seriesList,
    .addSeries,
    .expandedSeries {
        padding: 24px;
    }

    .seriesList {
        > .seriesDetails {
            display: inline-block;
            vertical-align: top;
            margin-right: 24px;
            margin-bottom: 24px;
            width: 210px;
            text-decoration: none;
        }
    }

    .seasonHeader {
        > * {
            position: relative;
            z-index: 200;
        }

        .seasonHeaderImage {
            position: absolute;
            z-index: 0;
            top: 0;
            left: 0;
        }
    }
}
