export default {
    WebServer: {
        port: 8080,
        host: 'localhost',
        apiUri: '/api/v1',
        publicPath: __dirname + '/../public/'
    },
    Transmission: {
        username: 'USER_NAME',
        password: 'PASSWORD'
    },
    TVDB: {
        apiKey: 'YOUR_API_KEY'
    }
};
